* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(15, 15, 15);
  color: white;
  min-height: 100vh
}

.App {
  width: 100%
}

/* .post {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 2px solid green;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: center;

}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 15px
}

button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-enter {
  opacity: 0;
}

.post-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.page__wrapper {
  margin: 20px;
  display: flex
}

.page {
  min-width: 30px;
  min-height: 30px;
  margin: 1px;
  padding: 5px;
  border: 1px solid green;
  border-radius: 25%;
  background-color: transparent;
  cursor: pointer;
}

.page__current {
  border: 2px solid rgb(0, 100, 0);

}

.post__wrapper {
  margin: 40px 240px 40px 240px;
}

.comment__wrapper {
  margin: 10px 200px 10px 200px;
}

.comment {
  margin: 40px;
} */

h2 {
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  margin: 3px;
  cursor: pointer;
}

svg {
  margin: 1px;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  padding: 15px 7% 15px 7%;
}

.home-item {
  margin-bottom: 30px;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.home-item img {
  width: 196px;
  height: 294px;
  object-fit: cover;
  border-radius: 15px;
}

.home-item h3 {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.home-item h4 {
  font-size: 14px;
  font-weight: 400;
}

.home-item-short-discription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.user-img {
  position: relative;
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}


/* Стили для мобильных устройств (ширина до 767px) */
@media (max-width: 767px) {
  .home-container {
    padding: 5px 15px 5px 15px;
}
  .home-item {
    width: 98%;
    margin-bottom: 30px;
  
  }
  .home-item img {
    width: 314px;
    height: 471px;
    border-radius: 30px;
  }
  

  .home-item h4 {
    font-size: 14px;
  }

  .home-item h3 {
    font-size: 16px;
  }

  button {
    font-size: 12px;
  }
}

/* Стили для планшетов и больших мобильных устройств (ширина 768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .home-item img {
    width: 104px;
    height: 156px;
    /* object-fit: cover;
    border-radius: 15px; */
  }

  .home-item h4 {
    font-size: 8px;
  }

  .home-item h3 {
    font-size: 12px;
  }
}

/* Стили для десктопов и ноутбуков (ширина 1024px и больше) */
@media (min-width: 1024px) and (max-width: 1199px) {
  .home-item img {
    width: 144px;
    height: 219px;
    /* object-fit: cover;
    border-radius: 15px; */
  }

  .home-item h4 {
    font-size: 12px;
  }

  .home-item h3 {
    font-size: 14px;
  }

  button {
    font-size: 12px;
  }
}

/* Стили для больших экранов (ширина 1200px и больше) */
@media (min-width: 1200px) {
  /* Ваши стили для больших экранов */
}