.navbar {
  display: flex;
  flex-wrap: wrap;
  /* height: 125px; */
  min-height: 80px;
  width: 100%;
  justify-content: center;
  padding: 15px 7% 0px 7%;
}

.row-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.navbar h3 {
  /* position: absolute; */
  top: 20px;
  left: 170px;
  font-size: 32px;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  /* position: absolute; */
  /* top: 5px;
    left: 100px; */
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* .navbar button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
} */

.navbar-login {
  /* position: absolute; */
  font-size: 16px;
  top: 30px;
  right: 100px;
  padding: 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 40px;
  background-color: rgb(32, 32, 32);
  border-radius: 50px;

}

.search input {
  width: 550px;
  height: 100%;
  font-size: 16px;
  color: rgb(176, 176, 176);
  background-color: transparent;
  border: none;
}

.search input:focus {
  outline: none;
}

.bibisearch {
  color: rgb(176, 176, 176);
}

.user-info {
  display: flex;
  align-items: center;
  /* position: absolute; */
  top: 20px;
  right: 200px;
  height: 40px;
}

.user-info a {
  display: inline-block;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 35px 10px 35px;
  /* border-bottom: 1px solid white; */
}


@media (min-width: 1024px) and (max-width: 1199px) {
  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .navbar h3{
    font-size: 24px;
  }

  .search {
    width: 450px;
    height: 30px;
    border-radius: 30px;
}

.search input {
  width: 420px;
  height: 100%;
  font-size: 12px;
}

.bibisearch {
  width: 12px;
  height: 12px;
}

.user-img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 50%;
}

a {
  font-size: 12px;
}
}


@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    padding: 15px 5% 0px 5%;
  }

  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .navbar h3{
    font-size: 24px;
  }

  .search {
    width: 400px;
    height: 30px;
    border-radius: 30px;
}

.search input {
  width: 370px;
  height: 100%;
  font-size: 12px;
}

.bibisearch {
  width: 12px;
  height: 12px;
}

.user-img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 50%;
}

a {
  font-size: 12px;
}
}